{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PARAGON🌌🌌: Avatars{% endblock title %}</title>
</head>
<body>
{% block content %}
{%for ava in avatar %}
<div class="row">
<hr class="text-dark">
<div class="card mb-3 text-primary bg-dark shadow-lg p-3 rounded col-sm" style="max-width: 540px;" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="media/{{ava.image}}" class="card-img img-thumbnail" alt="{{ava.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-primary">{{ava.name}}</h5>
        <p class="card-text">End Scene: {{ava.bio}}</p>
        <p class="card-text"><small class="text-warning">Power: {{ava.power}}</small></p>
        <p class="card-text"><small class="text-warning">Bloodline: {{ava.bloodline}}</small></p>
      </div>
    </div>
  </div>
</div>

<!--<div class="w-100"></div>-->
</div>
{%endfor%}
{% endblock content %}
</body>
</html>