{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PARAGON🌌🌌{% endblock title %}</title>
</head>
<body>
{% block content %}
<<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="media/groupimg.png" class="d-block w-100" alt="...", height="399", width="50">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only text-primary">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only text-danger">Next</span>
    </a>
  </div>
</div>
<!--<div class="card-group">-->
<!--  <div class="card">-->
<!--    <img src="media/{{dis_ava.image}}" class="card-img-top img-thumbnail" alt="...">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{dis_ava.name}}</h5>-->
<!--      <p class="card-text">Bloodline : {{dis_ava.bloodline}}</p>-->
<!--      <p class="card-text"><small class="text-muted">Power : {{dis_ava.power}}</small></p>-->
<!--    </div>-->
<!--  </div>-->
<img src="media/{{dis_ava.image}}" class="rounded mx-auto d-block img-thumbnail" alt="...">
<img src="media/{{dis_ava2.image}}" class="rounded float-left img-thumbnail" width="500" height="200">
<img src="media/{{dis_ava3.image}}" class="rounded float-right img-thumbnail" width="500" height="200">
<!--caroulsel-->
{% endblock content %}
</body>
</html>