{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% block content %}
<br>
{% if error == "" %}

{% else %}
<div class="alert alert-danger d-flex align-items-center alert-dismissible " role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
        <use xlink:href="#exclamation-triangle-fill"/>
    </svg>
    <div>
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
<form action="" method="post" class="">
    {% csrf_token %}
    <div class="container border">
        <br>
        <h1 class="text-start text-success">Login</h1>
        <hr>
        <div class="row">
            <div class="col-6 m-3">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6 m-3">
                {{ form.password|as_crispy_field }}
            </div>
        </div>
        <a href="{% url 'users:Signin' %}" class="m-4">Create New Account ?.</a>
        <br>
        <button type="submit" class="btn btn-success m-4">Login</button>
    </div>
</form>
<br>
<svg>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>
{% endblock content %}
</body>
</html>