{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIGN UP{% endblock title %}</title>
</head>
<body>
{% block content %}
<style>
    .signin-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

</style>
<br>
<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <h1 class="text-start text-success">Sign Up</h1>
        <hr>
        <legend><span class="number">1</span> Your basic info</legend>
        <div class="row">
            <div class="col-6 m-3">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6 m-3">
                {{ form.password|as_crispy_field }}
            </div>
        </div>
        <div class="col-6 m-3">
            {{ form.email_address|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.birth_date|as_crispy_field }}
        </div>
        <legend><span class="number">2</span> Game Info</legend>
        <div class="col-6 m-3">
            {{ form.avatar|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.location|as_crispy_field }}
        </div>
        <div class="col-6 m-3">
            {{ form.bio|as_crispy_field }}
        </div>
        <div class="container">
            <button class="text-white btn btn-dark signin-btn">Sign Up</button>
            <a href="{% url 'game:home' %}" class="btn btn-danger signin-btn ">Cancel</a>
        </div>
    </div>
</form>

{% endblock content %}
</body>