{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Player {{object.username}} {% endblock title %}</title>
</head>
<body>
{% block content %}
<main style="background-color:#333;" class="text-light">
    <br>
    <hr>
    <h1 class="text-capitalize text-center font-weight-bolder">{{object.username}}</h1>
    <hr>
    <div class="text-center w-10">
        <img src="/media/{{object.avatar.image}}" alt="" class="rounded-circle border border-danger" height="199"
             width="199">
    </div>
    <br>
    <hr>
    <p class="text-capitalize text-center">birth date: {{object.birth_date}} <br>location: {{object.location.name}}</p>
    <hr>
    <br>
    <p class="text-center font-weight-bold text-capitalize">
        {{object.bio}}.
    </p>
</main>
{% endblock content %}
</body>
</html>