{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Player ( {{object.username}} ) {% endblock title %}</title>
</head>
<body>
{% block content %}
{% if object.just_joined %}
   <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  </svg>
   <div class="alert alert-success d-flex align-items-center alert-dismissible" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    Welcome to Paragon🌌🌌 Player {{object.username}} you can adventure by going to <a href="{% url 'game:avatars' %}">Avatar</a> or <a href="{% url 'game:bloodlines' %}">Bloodlines</a>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
  
{% endif %}
<main class="bg-dark">
    <div data-view-component="true" class="text-white flex-shrink-0 col-12 col-md-3 mb-4 mb-md-0">
        <br>
        <div class="text-center w-10">
            <a href="{% url 'game:avatars' %}">
                <img src="/media/{{object.image}}" alt=""
                     class="rounded-circle width-full border color-bg-primary m-3" height="260"
                     width="260">
            </a>
        </div>
        <h1>
            <span class=" d-block overflow-hidden m-3">{{object.username}}</span>
        </h1>
        <span class=" d-block m-3">{{object.email_address}}</span>
        <div class="m-3 f4">
            <div>
                {{object.bio}}
            </div>
        </div>
        <p class="display-7 m-4">Avatar:</p> <h4 class="m-4">{{object.avatar.name}}:</h4>
        <img src="/media/{{object.avatar.image}}"
             class="rounded-circle width-full border color-bg-primary m-3" width="99" , height="99">
             <br>
        {% if object.location.name == "" %}
        <p class="m-3">No location Entered.</p>
        {% else %}
        <svg class="octicon octicon-location" viewBox="0 0 16 16" version="1.1" width="16" height="16"
             aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"></path>
        </svg>
        <span class="p-label m-3">{{object.location.name}}</span>
        {% endif %}
    </div>

<div data-view-component="true" class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
  <div class="position-relative text-light">
        <h2 class="f4 mb-2 text-normal text-center">Groups</h2>
        {% if object.leader.name == "" and object.defender.name == "" and object.middlemen.name == "" and object.capturer.name == "" %}
           <p class="text-warning">NO GROUPS WERE FOUND</p>
        {% else %}
           <h6 class="m-3">Groups were {{object.username}} is  a leader</h6>
           <img src="/media/{{object.leader.logo}}"
             class="rounded-circle width-full border color-bg-primary m-3" width="99" , height="99" alt="Your Not A Leader In Any Group">
           {{object.leader}} Group
           <p class="text-light m-4">{{object.leader.doc}}</p>
           <h6 class="m-3">Groups were {{object.username}} is  a defender</h6>
           <img src="/media/{{object.defender.logo}}"
             class="rounded-circle width-full border color-bg-primary m-3" width="99" , height="99" alt="Your Not A defender In Any Group">
           {{object.defender}} Group
           <p class="text-light m-4">{{object.defender.doc}}</p>
           <h6 class="m-3">Groups were {{object.username}} is  a middlemen</h6>
           <img src="/media/{{object.middlemen.logo}}"
             class="rounded-circle width-full border color-bg-primary m-3" width="99" , height="99" alt="Your Not A middleman In Any Group">
           {{object.middlemen}} Group
           <p class="text-light m-4">{{object.middlemen.doc}}</p>
           <h6 class="m-3">Groups were {{object.username}} is  a capturer</h6>
           <img src="/media/{{object.capturer.logo}}"
             class="rounded-circle width-full border color-bg-primary m-3" width="99" , height="99" alt="Your Not A capturer In Any Group">
           {{object.capturer}} Group
           <p class="text-light m-4">{{object.capturer.doc}}</p>
        {% endif %}
    </div>
</div>
    <br>
</main>
<div class="bg-dark">
    <hr>
    <br>
</div>
{% endblock content %}
</body>
</html>